/* You can add global styles to this file, and also import other style files */
input::placeholder {
  font-size: small;
  font-style: italic;
}

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
