.comment {
  padding: 20px;
}

.commentHeader {
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

.user {
  color: dodgerblue;
  margin-right: 5px;
  font-weight: bold;
}

.commentTime {
  font-size: 12px;
  font-style: oblique;
  color: darkslategray;
  font-weight: 150;
  display: inline;
}

.commentUserTime {
  margin-top: 10px;
  margin-left: 3px;
}

.date {
  margin-left: 5px;
}
