<br>
<input type="text" #comment="ngModel" class="form-control" placeholder="Write a comment.." (keydown.enter)="onKeyDown($event)"
  [(ngModel)]="commentContent">
<br>
<div *ngFor="let eachComment of commentsWithUserDetail" style="background-color: lightgray;">
  <div class="row commentHeader">
    <div class="col-sm-1">
      <ngx-avatar src="../../assets/Images/profile.png" alt="../../assets/Images/profile.png"></ngx-avatar>
    </div>
    <div class="col-sm-9 commentUserTime">
      <span class="user" *ngIf="eachComment.user">{{eachComment.user.name}} </span>
      {{eachComment.content}}
    </div>
  </div>
  <span class="date">
    <p class="commentTime">Commented On {{eachComment.createdAt | date:'mediumDate'}} | {{eachComment.createdAt |
      date:'shortTime'}}
      <i class="fas fa-globe-asia"></i></p>
  </span>
  <hr>
</div>
