<div class="card card-block">
  <h4 class="card-title">Sign In to Blogging System</h4>
  <hr>
  <form #loginForm="ngForm" (ngSubmit)=login() novalidate>

    <div class="form-group">
      <label>Email</label>
      <input id="email" type="email" placeholder="Example: someone@someserver.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required
        #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email"
        [(ngModel)]="userEmail">
      <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small> -->
      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Enter valid email address</small>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input id="password" placeholder="Must be between 4 and 8 digits long and include at least one numeric digit" type="password" pattern="^(?=.*\d).{4,8}$" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
        class="form-control" name="password" [(ngModel)]="userPassword">
      <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small> -->
      <div *ngIf="password.errors && (password.invalid && password.touched)">
        <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
        <small class="text-danger" *ngIf="password.errors.pattern">Enter valid password</small>
      </div>
    </div>

    <!-- <p *ngIf="credentialsNotMatched">
      <small class="text-danger">Username or Password not matched!</small>
    </p> -->

    <div class="row">
      <div class="col-sm-6">
        <button [disabled]="loginForm.form.invalid" class="btn btn-success" type="submit">Sign In</button>
      </div>
      <div class="col-sm-6">
        <label style="float:right;">Not registered? <a class="route" routerLink="/signup" aria-label="Not registered?">Create an
            account</a></label>
      </div>
    </div>

  </form>
</div>
