<div class="card card-block">
  <h2 class="card-title">User Registration Form</h2>
  <hr>
  <form #userForm="ngForm" (ngSubmit)=registerUser() novalidate>

    <div class="form-group">
      <label>Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="(name.invalid && name.touched) || (isNameInvalid && name.touched)"
        class="form-control" name="name" (change)=onChange(name.value) [(ngModel)]="user.name">
      <small class="text-danger" [class.d-none]="(name.valid || name.untouched) && (!isNameInvalid || name.untouched)">Name
        is required</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input placeholder="Example: someone@someserver.com" type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email"
        [(ngModel)]="user.email">

      <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small> -->

      <div *ngIf="email.errors && (email.invalid && email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Enter valid email address</small>
      </div>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" pattern="^\d{10}$" required #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched"
        class="form-control" name="phone" [(ngModel)]="user.phone">

      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required</small> -->

      <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be valid and of 10 numeric digits</small>
      </div>
    </div>

    <!--  <div class="form-group">
      <label>Gender</label>
      <select #gender="ngModel" [class.is-invalid]="gender.invalid && gender.touched" class="form-control" name="gender"
        [(ngModel)]="user.gender" required>
        <option disabled [ngValue]="null">Select Gender</option>
        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
      </select>
      <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Gender
        is required</small>
    </div> -->

    <div class="form-group">
      <label>Gender</label>
      <div class="form-control" [class.is-invalid]="gender.invalid && gender.touched">
        <label class="radio-inline control-label">
          <input type="radio" required #gender="ngModel" name="gender" value="Female" [(ngModel)]="user.gender"> Female
        </label>
        &nbsp;&nbsp;
        <label class="radio-inline control-label">
          <input type="radio" required #gender="ngModel" name="gender" value="Male" [(ngModel)]="user.gender"> Male
        </label>
      </div>
      <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Gender
        is required</small>
    </div>

    <div class="form-group">
      <label>Date of Birth</label>
      <input bsDatePicker type="date" required #date="ngModel" [class.is-invalid]="date.invalid && date.touched" class="form-control"
        name="date" [(ngModel)]="user.birthDate">
      <small class="text-danger" [class.d-none]="date.valid || date.untouched">Date of Birth
        is required</small>
    </div>


    <div class="form-group">
      <label>Password</label>
      <input placeholder="Must be between 4 and 8 digits long and include at least one numeric digit" type="password"
        pattern="^(?=.*\d).{4,8}$" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
        class="form-control" name="password" [(ngModel)]="user.password">

      <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small> -->

      <div *ngIf="password.errors && (password.invalid && password.touched)">
        <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
        <small class="text-danger" *ngIf="password.errors.pattern">Enter valid password</small>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input placeholder="Please Re-enter password" type="password" required #confirmPassword="ngModel"
        [class.is-invalid]="(confirmPassword.invalid && confirmPassword.touched) || (password.value != confirmPass && (confirmPassword.touched && confirmPassword.value.length != 0))"
        class="form-control" name="confirmPassword" [(ngModel)]="confirmPass">
      <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched">Please re-enter
        password</small>
      <small class="text-danger" *ngIf="password.value != confirmPass && (confirmPassword.touched && confirmPassword.value.length != 0)">Password
        not matched</small>
    </div>


    <div class="row">
      <div class="col-sm-5">
        <button [disabled]="userForm.form.invalid || password.value != confirmPass || isNameInvalid" class="btn btn-success"
          type="submit">Sign
          Up</button>
      </div>
      <div class="col-sm-7">
        <label style="float:right;">Already a user? <a class="route" routerLink="/signin">Login to your account</a></label>
      </div>
    </div>

  </form>
</div>
