.nowrap{
    white-space: nowrap;
    color: blanchedalmond;
}

.logoutBtn{
    margin-left: 77%;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profileImg {
    width: 250px;
    padding: 20px;
    height: 300px;
}

/* .card {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 100px;
  } */
  