<div *ngIf="allPosts">
  <div *ngFor="let eachPost of allPostsWithUserDetails.slice().reverse()">
    <div class="card" *ngIf="eachPost.user">
      <div class="row postHeader">
        <div class="col-sm-1">
          <ngx-avatar src="../../assets/Images/profile.png" alt="../../assets/Images/profile.png"></ngx-avatar>
        </div>
        <div class="col-sm-5 postUserTime">
          <span class="user">{{eachPost.user.name}}</span>
          <p class="postTime">{{eachPost.createdAt | date:'mediumDate'}} | {{eachPost.createdAt | date:'shortTime'}}
            <i class="fas fa-globe-asia"></i></p>
        </div>
        <!-- <div class="col-sm-5 deletebtn">
          <button class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
        </div> -->
      </div>
      <hr>
      <p #post class="post" [innerHTML]="eachPost.content"></p>
      <hr>
      <div class="likeCommentCount">
        <p *ngIf="eachPost.likeData" class="count">
          <button class="btn btn-outline-info btn-sm" (click)="likePost(eachPost)" [class.active]="eachPost.isPostLikedByLoggedInUser"><i
              class="far fa-thumbs-up"></i></button>&nbsp;
          <a class="btn open-modal" (click)="showUsersWhoLikedThisPost(eachPost)">{{eachPost.likeData.length}}</a>
        </p>&nbsp;&nbsp;
        <p *ngIf="!eachPost.likeData" class="count">
          <button class="btn btn-outline-info btn-sm" (click)="likePost(eachPost)"><i class="far fa-thumbs-up"></i></button>
          0</p>&nbsp;&nbsp;&nbsp;
        <p *ngIf="eachPost.commentCount > 0" class="count">
          <button class="btn btn-outline-info btn-sm" (click)="showOrHideComments(eachPost)" [class.active]="isCommentBtnClicked && eachPost.id == selectedPostToComment.id"><i class="far fa-comment-alt"></i></button>&nbsp;
          {{eachPost.commentCount}}</p>
        <p *ngIf="eachPost.commentCount == 0" class="count">
          <button class="btn btn-outline-info btn-sm" (click)="showOrHideComments(eachPost)" [class.active]="isCommentBtnClicked && eachPost.id == selectedPostToComment.id"><i class="far fa-comment-alt"></i></button>
          0</p>
      </div>
      <div *ngIf="toggleComments && toggleComments[eachPost.id]">
        <app-add-or-list-comments (childEvent)="method($event)" [selectedPostToComment]="selectedPostToComment"></app-add-or-list-comments>
      </div>

    </div>
    <br>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal diplayBlock" *ngIf="isModelDisplay" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content" style="background-color:rgb(56, 56, 55);">

      <div class="modal-header">
        <h4 class="modal-title" style="color:whitesmoke;">Users who Liked this Post</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
      </div>

      <div class="modal-body">
        <div *ngFor="let eachUser of usersWhoLikedSelectedPost">
          <div class="card">
            <div class="row postHeader">
              <div class="col-sm-1">
                <ngx-avatar src="../../assets/Images/profile.png" alt="../../assets/Images/profile.png"></ngx-avatar>
              </div>
              <div class="col-sm-5 postUserTime">
                <span class="user">{{eachUser.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
