.post {
    padding: 20px;
}

.postHeader {
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.user {
    color: dodgerblue;
    margin-right: 5px;
    font-weight: bold;
}

.postTime {
    font-size: 12px;
    font-style: oblique;
    color: darkslategray;
    font-weight: 150;
    display: inline;
}

.postUserTime {
    margin-top: 10px;
    margin-left: 3px;
}

.deletebtn {
    float: right;
    margin-right: 0%;
}

.likeCommentCount {
    padding: 7px;
}

.count {
    display: inline;
}

.open-modal {
    padding: 0%;
}

a:hover {
    color: aqua;
}

/* Modal */

#btnwrap{
    width: 100%;
}

.actionBtn{
    float: left;
}

.active {
    font-weight: bold;
}

.diplayBlock {
    display: block;
    background-color: rgb(56, 56, 55, 0.7);
}

#modalbtnone{
    float: right;
}

#modalbtntwo{
    float: right;
}